{% extends "layout.html" %}

{% block main_content %}
<p>
<h1>Authority to Accept Payment</h1>
</p>

<div class="well well-sm" style="font-weight: bold;">
    <a href="#filterpanel" data-toggle="collapse">{{ filters[0] }}</a>
    <span style="display:inline-block; width: 10px;"></span>
    <a href="#filterpanel" data-toggle="collapse">{{ filters[1] }}</a>
    <span style="display:inline-block; width: 10px;"></span>
    <a href="#filterpanel" data-toggle="collapse">{{ filters[2] }}</a>
    <div class="collapse" id="filterpanel" style="font-weight: normal; font-size: small;"><br>
        <form action="/aap" method="POST" style="font-size: smaller;">
            {{ form.period.label }}
            {{ form.period }}<span style="display:inline-block; width: 10px;"></span>
            {{ form.item.label }}
            {{ form.item }}<span style="display:inline-block; width: 10px;"></span>
            {{ form.warehouse.label }}
            {{ form.warehouse }}<span style="display:inline-block; width: 10px;"></span><br><br>
            {{ form.submit }}
            <a href="#filterpanel" data-toggle="collapse" role="button">
                <button style="color: #454545;">Cancel</button>
            </a>
        </form>
    </div>
</div>

<table class="table table-striped table-condensed" style="font-size: small">
  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Date</th>
      <th scope="col">Customer</th>
      <th scope="col">Item</th>
      <th scope="col">Bags</th>
      <th scope="col">Net Kg/Qty</th>
      <th scope="col">Unit SP</th>
      <th scope="col">Amount</th>
      <th scope="col">Check No.</th>
      <th scope="col">Warehouse</th>
      <th scope="col">Prepared by</th>
      <th scope="col">Approved by</th>
    </tr>
  </thead>
  {% if items %}
  <tbody>
    {% for i in items%}
    <tr>
      <td>{{i.number}}</td>
      <td>{{i.doc_date}}</td>
      <td>{{i.customer}}</td>
      <td>{{i.item}}</td>
      <td>{{i.bags}}</td>
      <td>{{i.net_kg_qty}}</td>
      <td>{{i.unit_sp}}</td>
      <td>{{i.amount}}</td>
      <td>{{i.check_no}}</td>
      <td>{{i.warehouse}}</td>
      <td>{{i.prepared_by}}</td>
      <td>{{i.approved_by}}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>

{% if not items %}
<div align="center" class="well">No data to show.</div>
{% endif %}

{% endblock %}